header, main, footer {
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    color: white;
}
.header-content, .main-content, .footer-content {
    margin: auto;
    max-width: 900px;
    min-width: 500px;
}
header {
    background-color: rgb(88, 79, 77);
}
main {
    background-color: rgb(39, 39, 39);
    font-size: 1em;
}
h1, h2, h3, h4 {
    text-align: center;
    margin: 10px;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}
p {
    padding-top: 5px;
    padding-bottom: 5px;
}
ul {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: disc;
}
li {
    padding-top: 2px;
    padding-bottom: 2px;
}

footer {
    background-color: rgb(85, 85, 83);
}